<section class="hero" style="background-image: url({{page.hero_image}})">
  <div class="hero__inner">
    <h1>Hi, I'm Andy!</h1>
  </div>
</section>
<section class="about">
  <div class="about__inner">
    <h2>Welcome to my corner of the web!</h2>
    <div class="about__slide">
      <img class="about__slide__image about__slide__image--one" src="/assets/images/IMG_1767.jpg" alt="Andy Sipple">
      <img class="about__slide__image about__slide__image--two" src="/assets/images/Snapseed.jpg" alt="Andy Sipple">
      <img class="about__slide__image about__slide__image--three" src="/assets/images/hana.jpg" alt="Andy Sipple">
    </div>
    <p>I am 30 years old living in the heartland of the United States Lincoln, NE. I'm an ambitious developer, passionate about new technology and its capabilities. I love to problem solve and use technogly to solve those problems.</p>
  </div>
</section>
