<header div class="header">
  <div class="header__inner">
    <div id="menu" class="header__menu-icon">
      <div class="header__menu-icon-line"></div>
    </div>
    <div class="header__title">
      Andy Sipple
    </div>
    <nav class="nav">
      <div class="header__logo">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="none">
          <defs>
            <clipPath id="_clipPath_iD4XhDdggAHcmecwONRXWGU7xIRk2jTl"><rect width="200" height="200"/></clipPath>
          </defs>
          <g clip-path="url(#_clipPath_iD4XhDdggAHcmecwONRXWGU7xIRk2jTl)">
            <polygon class="triangle" points="100.84,133.333,67.674,66.667,134.007,66.667" fill="rgb(235,235,235)"/>
            <polygon class="triangle" points="101.18,0,134.347,66.667,68.014,66.667" fill="rgb(235,235,235)"/>
            <polygon class="triangle" points="67.333,200,34.167,133.333,100.5,133.333" fill="rgb(235,235,235)"/>
            <polygon class="triangle" points="67.674,66.667,100.84,133.333,34.507,133.333" fill="rgb(235,235,235)"/>
            <polygon class="triangle" points="34.167,133.333,67.333,200,1,200" fill="rgb(235,235,235)"/>
            <polygon class="triangle" points="166.833,133.333,200,200,133.667,200" fill="rgb(235,235,235)"/>
            <polygon class="triangle" points="133.667,200,100.5,133.333,166.833,133.333" fill="rgb(235,235,235)"/>
            <polygon class="triangle" points="134.007,66.667,167.174,133.333,100.84,133.333" fill="rgb(235,235,235)"/>
          </g>
        </svg>
      </div>
      <ul>
        <li><a class="nav__link" href="/about">About</a></li>
        <li><a class="nav__link" href="/work">Work</a></li>
        <li><a class="nav__link" href="/blog">Blog</a></li>
        <li><a class="nav__link" href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
