// Colors
$color-primary: #d68f27;
$color-accent: #4d4d4f;
$color-black: #000000;
$color-grey: #F7F7F7;
$color-grey-dark: #EFEFEF;
$color-white: #ffffff;
$color-green: #5AB25A;
$color-yellow: #f5d944;
$color-red: #bc3219;

// Transition
$t: 0.3s;
